@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bree Serif';
}

body {
  background-color: black;
  color: white;
}

.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  display: flex;
  justify-content:center;
  margin: 10px 0 40px;
}

.nav a {
  border-radius: 4px;
  padding: 6px 10px;
  margin-right: 10px;
}

a {
  color: white;
  text-decoration: none;
}

.board,
.matrix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.row {
  display: flex;
}

.cell {
  margin: 10px;
  border: solid 1px white;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}


/* Tests Toggle button styles START */
.switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label[for=switch] {
	cursor: pointer;
	text-indent: -9999px;
	width: 60px;
	height: 35px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label[for=switch]:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 25px;
	height: 25px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input#switch:checked + label[for=switch] {
	/* background: #bada55; */
	background: #1e88e5;
}

input#switch:checked + label[for=switch]:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label[for=switch]:active:after {
	width: 130px;
}

/* // centering */
/* body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
} */
/* Tests Toggle button styles END */


.tests-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tests-panel div {
  border-radius: 4px;
  padding: 6px 10px;
  background-color: #f0f0f0;
  margin: 5px 0;
}
.tests-panel label {
  color: white
}
/* input[type=radio] + label {
  color: #545e6f;
}
input[type=radio]:checked + label {
  color: #fff;
  background-color: #2196f3;
} */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    /* background: #fff; */
    background: #ddd;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}



.test-result {
  padding: 10px 15px 15px;
  margin: 10px 0;
  background-color: #61dafb;
  color: black;
  border-radius: 5px;
}